<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lantin.web.mapper.db1.activity.ActivityPrizeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lantin.web.domain.activity.ActivityPrize">
        <id column="id" property="id"/>
        <result column="prize_id" property="prizeId"/>
        <result column="total" property="total"/>
        <result column="stock" property="stock"/>
        <result column="used" property="used"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prize_id, total, stock, used
    </sql>
    <update id="updatePrizeStock">
        update activity_prize
        set stock = stock - 1
        where prize_id = #{record.prizeId}
          and stock - 1 >= 0
    </update>


</mapper>
